@import 'normalize';

@mixin button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }

  &:active {
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
}

body {
  padding: 10px;
}

.main {
  margin-top: 10px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.garage-button,
.winners-button,
.generate-button,
.create-button,
.update-button {
  @include button();
  background-color: #337ab7;
  &:active {
    background-color: #2d6da4;
  }
}

.garage-button--active,
.winners-button--active {
  background-color: #2d6da4;
}

.create-car-input,
.update-car-input {
  display: flex;
  gap: 2px;
  margin-bottom: 5px;
}

.color-input {
  height: auto;
}

.race-button,
.reset-button {
  @include button();
  margin-right: 4px;
}

.race-button {
  background-color: #5cb85c;
  &:active {
    background-color: #52a552;
  }
}

.reset-button {
  background-color: #f05c4e;
  &:active {
    background-color: #d85246;
  }
}

.generate-button {
  @include button();
}

.garage-container {}

.garage-container--hidden {
  display: none;
}

.pagination-nav {
  display: flex;
}

.page-number {
  margin: 0 10px;
}

.car-list {
  padding: 0;
}

.car-list__item {
  border-bottom: 2px dotted black;
  margin-bottom: 2px;
}

.car-list__item--hidden {
  display: none;
}

.control-buttons {
  display: inline-flex;
  gap: 10px;
}

.car-list__car-name {
  margin-left: 10px;
  font-weight: bold;
}

.select-button {
  @include button();
  background-color: #f0ad4e;
  &:active {
    background-color: #d89b46;
  }
}

.remove-button {
  @include button();
  background-color: #f05c4e;
  &:active {
    background-color: #d85246;
  }
}

.drive-buttons {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.accelerate-button {
  @include button();
  background-color: #5cb85c;
  &:enabled:active {
    background-color: #52a552;
  }
}

.brake-button {
  @include button();
  background-color: #f05c4e;
  &:enabled:active {
    background-color: #d85246;
  }
}

.track {
  display: flex;
  justify-content: space-between;
  margin-right: 64px;
  position: relative;
}

.car-image {
  position: relative;
  z-index: 2;
}

.flag {
  width: 48px;
}

.popup {
  z-index: 3;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  width: 300px;
  top: calc(50%);
  left: calc(50% - 150px);
  background: rgba(211, 211, 211, 0.92);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(211, 211, 211, 0.3);
  
  > span {
    display: block;
  }

  > button {
    @include button();
    background-color: #2d6da4;
    margin: 5px auto;
    &:hover {
      cursor: pointer;
    }
  }
}

.leader-board {
  text-align: center;
}

.leader-board__header,
.leader-board__wins-cell,
.leader-board__best-time-cell {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-basis: 3rem;
  text-align: center;
}

.leader-board__header {
  //max-width: 500px;
  cursor: pointer;
  margin-top: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.leader-board__number-cell {
  flex-basis: 4rem;
}

.leader-board__car-image-cell {
  flex-basis: 6rem;
  
  > svg {
    height: 48px;
  }
}

.leader-board__name-cell {
  flex-basis: 10rem;
}

.ASC {
  &::after {
    content: '↑';
  }
}

.DESC {
  &::after {
    content: '↓';
  }
}

.winner-list {
  // max-width: 500px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.winner-list__item {
  display: flex;
  align-items: center;
  gap: 25px;
}