@import 'normalize';

body {
  padding: 10px;
}

.main {
  margin-top: 10px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.create-car-input,
.update-car-input {
  display: flex;
  gap: 2px;
  margin-bottom: 5px;
}

.race-button,
.reset-button {
  margin-right: 4px;
}

.generate-button {}

.garage-container {}

.garage-container--hidden {
  display: none;
}

.pagination-nav {
  display: flex;
}

.page-number {
  margin: 0 10px;
}

.car-list {
  padding: 0;
}

.car-list__item {
  border-bottom: 2px dotted black;
  margin-bottom: 2px;
}

.car-list__item--hidden {
  display: none;
}

.control-buttons {
  display: inline-flex;
  gap: 10px;
}

.car-list__car-name {
  margin-left: 10px;
}

.drive-buttons {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.track {
  display: flex;
  justify-content: space-between;
  margin-right: 64px;
  position: relative;
}

.car-image {
  position: relative;
  z-index: 2;
}

.flag {
  width: 64px;
}

.leader-board {
  text-align: center;
}

.leader-board__header,
.leader-board__wins-cell,
.leader-board__best-time-cell {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-basis: 3rem;
}

.leader-board__header {
  cursor: pointer;
}

.leader-board__number-cell {
  flex-basis: 4rem;
}

.leader-board__car-image-cell {
  flex-basis: 6rem;
  
  > svg {
    height: 48px;
  }
}

.leader-board__name-cell {
  flex-basis: 10rem;
}

.ASC {
  &::after {
    content: '↑';
  }
}

.DESC {
  &::after {
    content: '↓';
  }
}

.winner-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.winner-list__item {
  display: flex;
  align-items: center;
  gap: 25px;
}